streamlit==1.30.0

numpy<2
scipy
soundfile
librosa

torch==2.1.2
torchaudio==2.1.2

speechbrain==0.5.16
transformers==4.36.2
huggingface-hub==0.19.4
pydantic<2

setuptools>=68
packaging<24
praat-parselmouth
